<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title, "Song's Title" %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :artist_name, "Artist's Name" %>
  <%= f.text_field :artist_name %>
  <% # can use :artist_name instead of :artist_id due to the artist_name method in Song model %>
  <br />
  
  <%= f.label "Select Genre" %><br>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, "id", "name") %>
  <br />

  <h2>Notes</h2>

  <%= f.fields_for :notes do |n_form| %>
    <%= n_form.label :note %><br>
    <%= n_form.text_area :content, rows: 1 %>
    <br><br>
  <% end %>

  <%= f.submit %>
<% end %>


